<!DOCTYPE html>
<html class="no-js" lang="zxx">
<% include ../partials/head %>
<style>
  :root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }

  body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    height: auto;
  }

  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .card-signin .card-body {
    padding: 2rem;
  }

  .form-signin {
    width: 100%;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }

  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }

  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }

  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-moz-placeholder {
    color: transparent;
  }

  .form-label-group input::placeholder {
    color: transparent;
  }

  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }

  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  .btn-google {
    color: white;
    background-color: #ea4335;
  }

  .btn-facebook {
    color: white;
    background-color: #3b5998;
  }

  /* Fallback for Edge
    -------------------------------------------------- */

  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }

    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }

  /* Fallback for IE
    -------------------------------------------------- */

  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }

    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }
</style>
<% include ../partials/navbar %>
<script>
  // Esconde el carrito del navbar
  document.getElementById('carrito-id').remove();
  document.getElementById('btnLogin').remove();
</script>

<body>
  <!--Main layout-->
  <div class="container h-100">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-5">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Registrate</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" id="inputName" class="form-control" placeholder="Nombre" required autofocus>
                <label for="inputName">Nombre</label>
              </div>
              <div class="form-label-group">
                <input type="text" id="inputLastNames" class="form-control" placeholder="Apellidos" required autofocus>
                <label for="inputLastNames">Apellidos</label>
              </div>
              <div class="form-label-group">
                <input type="text" id="inputAddress" class="form-control" placeholder="Direccion" required autofocus>
                <label for="inputAddress">Direccion</label>
              </div>

              <div class="form-label-group">
                <input type="number" id="inputCP" class="form-control" placeholder="C.P." required autofocus>
                <label for="inputCP">Codigo Postal</label>
              </div>

              <div class="form-label-group">
                <input type="number" id="inputTelephone" class="form-control" placeholder="1724432" required autofocus>
                <label for="inputTelephone">Telefono</label>
              </div>

              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Correo Electronico</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Contrasena</label>
              </div>
              <span><button onclick="register()" type="button" class="btn btn-secondary w-100"
                  style="background-color: #4CAF50!important;">Registrar</button></span>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Main layout-->
  <% include ../partials/footer %>
  <script>
    function register() {
      var userInfo = {name: $('#inputName').val(), lastNames: $('#inputLastNames').val(), address: $('#inputAddress').val(), cp: $('#inputCP').val(),
        email: $('#inputEmail').val(), pass: $('#inputPassword').val(), telephone: $('#inputTelephone').val()};
      $.ajax({
        url: '/Auth/CreateUser',
        type: 'POST',
        data: userInfo,
        success(response, status) {
          console.log(response);
          if (status !== 'nocontent') {
            if (response.status === 'Error') {
              alert(response.message);
            } else {
              alert(response.message);
              parent.location = '/Login';
            }
          } else {
            alert('Ocurrio un error al crear el usuario');
          }
        }
      }).fail(function (jqXHR, textStatus, errorThrown) {
          if (jqXHR.status === 0 || jqXHR.status == 500) {
              alert('error: 500');
          }
      });
    }
  </script>
</body>

</html>