<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <% include ../partials/head %>
  <style>
    .background-btn {
      background-color: #48AB3B!important;
      color: whitesmoke;
    }
    .background-btn:hover {
      background-color: tomato!important;
      color: whitesmoke;
    }
    .lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    }
    .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #43A047;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .lds-facebook div:nth-child(1) {
        left: 6px;
        animation-delay: -0.24s;
    }
    .lds-facebook div:nth-child(2) {
        left: 26px;
        animation-delay: -0.12s;
    }
    .lds-facebook div:nth-child(3) {
        left: 45px;
        animation-delay: 0;
    }
    @keyframes lds-facebook {
        0% {
            top: 6px;
            height: 51px;
        }
        50%, 100% {
            top: 19px;
            height: 26px;
        }
    }
  </style>
  <% include ../partials/navbar %>
  <script>
      document.getElementById('carrito-id').remove();
  </script>
  <body>
    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container wow fadeIn">
          <!-- Heading -->
          <h2 class="my-5 h2 text-center">Modificar Producto</h2>
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-12 mb-4">
    
              <!--Card-->
              <div class="card">
    
                <!--Card content-->
                <form class="card-body">
    
                  <!--Grid row-->
                  <div class="row">
    
                    <!--Grid column-->
                    <div class="col-md-6 mb-2">
    
                      <!--Nombre-->
                      <div class="md-form ">
                        <input type="text" id="Nombre" class="form-control">
                        <label id="nombre-label" for="Nombre" class="">Nombre</label>
                      </div>
                    </div>
                    <!--Grid column-->
    
                    <!--Grid column-->
                    <div class="col-md-6 mb-2">
    
                      <!--Descripcion-->
                      <div class="md-form">
                        <input type="text" id="Descripcion" class="form-control">
                        <label id="descripcion-label" for="Descripcion" class="">Descripcion</label>
                      </div>
    
                    </div>
                    <!--Grid column-->
    
                  </div>
                  <!--Grid row-->
    
                  <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-6 mb-4">
        
                        <label for="Categoria">Categoria</label>
                        <select class="custom-select d-block w-100" id="Categoria" required>
                            <option value="">Elige...</option>
                            <option>Electronicos</option>
                            <option>Ropa</option>
                            <option>Electrodomesticos</option>
                            <option>Calzado</option>
                            <option>Varios</option>
                        </select>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-6 col-md-6 mb-4">
        
                        <label for="Estado">Estado</label>
                        <select class="custom-select d-block w-100" id="Estado" required>
                            <option value="">Elige...</option>
                            <option>Nuevo</option>
                            <option>SemiNuevo</option>
                            <option>Usado</option>
                        </select>
                    </div>
                    <!--Grid column-->
                </div>
                    
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-5 mb-2">
                    <!--PrecioOriginal-->
                    <div class="md-form mb-5">
                        <input type="number" id="PrecioOriginal" class="form-control" placeholder="1250.00">
                        <label id="preciooriginal-label" for="PrecioOrginal" class="">Precio Original</label>
                    </div>
                  </div>

                  <!--Grid column-->
                  <div class="col-md-5 mb-2">
                    <!--PrecioActual-->
                    <div class="md-form mb-5">
                        <input type="number" id="PrecioActual" class="form-control" placeholder="1250.00" required>
                        <label id="precioactual-label" for="PrecioActual" class="">Precio Actual</label>
                    </div>
                  </div>

                  <!--Grid column-->
                  <div class="col-md-2 mb-2">
                    <!--Cantidad-->
                    <div class="md-form mb-5">
                        <input type="number" id="Cantidad" class="form-control" placeholder="1250" required>
                        <label id="cantidad-label" for="Cantidad" class="">Cantidad</label>
                    </div>
                  </div>
                </div>
                  <!--InformacionAdicional-->
                  <div class="md-form mb-5">
                    <input type="text" id="InfoAdicional" class="form-control" placeholder="Que mas quieres mencionar del producto?">
                    <label id="informacionadicional-label" for="InfoAdicional" class="">Informacion Adicional</label>
                  </div>
                  <input class="my-2" type="file" id="input" accept="image/*">
                  <div id="Imagenes" class="row"></div>
                  <hr class="mb-4">
                  <div class="row">
                      <div class="col-md-4">
                        <p>El producto es un Best Seller?</p>
                        <button id="bestseller_btn" class="btn btn-secondary btn-md waves-effect m-0" type="button">No</button>
                      </div>
                  </div>
                  <hr class="mb-4">
                  <button class="btn btn-primary btn-lg btn-block" type="button" id="btnModificar">Modificar Producto</button>
                </form>
              </div>
              <!--/.Card-->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Flexbox container for aligning the toasts -->
        <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
            <!-- Then put toasts within -->
            <div class="toast" role="alert" aria-live="assertive" data-delay="2500" aria-atomic="true" style="position: fixed; top: 70vh; right: 40vw;z-index: 1;">
                <div class="toast-header">
                <img src="..." class="rounded mr-2" alt="...">
                <strong id="titulo_toast" class="mr-auto" style="color:whitesmoke;font-size: 1.5rem;"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div id="texto_toast" class="toast-body"></div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: tomato;color: whitesmoke;">
                        <h5 class="modal-title">Modificar Producto</h5>
                        <button id="btn_cerrar_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="texto_modal"> Estas seguro que quieres modificar este producto? </p>
                    </div>
                    <div class="modal-footer">
                        <button id="btn_modal_si" type="button" class="btn btn-primary">Si</button>
                        <button id="btn_modal_no" type="button" class="btn btn-primary" data-dismiss="modal" style="background-color: tomato!important;">No</button>
                    </div>
                </div>
            </div>
        </div>
      </main>
      <!--Main layout-->
    <% include ../partials/footer %>
    <script>
        var imagenes = [undefined, undefined, undefined, undefined, undefined, undefined];
        /*current_images.split(',').forEach( img => {
            imagenes[current_images.split(',').indexOf(img)] = img;
        });
        // actualizar las imagenes que ya estan en la nube
        handleFiles();
        */
        var links_imagenes = [];
        const ref = firebase.storage().ref();
        $(document).ready(function(){
            $.ajax({
                url: '/ObtenerProductoPorID/'+window.location.href.split('/')[window.location.href.split('/').length - 1 ],
                type: 'GET',
                success: function(data, status) {
                    console.log(status);
                    console.log(data);
                    fillForm(data);
                }
            });
            $("#btnModificar").click(function(){
                $('.modal').show();
            });
            $('#bestseller_btn').click( function() {
                setBtnBestSeller();
            });
            $('#btn_modal_no').click( e => { $('.modal').hide(); });
            $('#btn_cerrar_modal').click( e => { $('.modal').hide(); });
            $('#btn_modal_si').click(e => {
                // se agrega el loader para mostrar que esta modificando
                $('.modal-footer').prepend('<div id="loader" class="lds-facebook mr-5"><div></div><div></div><div></div></div>');
                let num_imagenes = 0;
                let num_total_imagenes = 0;
                imagenes.forEach( imagen => { if (imagen != undefined) num_total_imagenes ++; });
                console.log(num_total_imagenes);
                imagenes.forEach( imagen => {
                    if (imagen != undefined) {
                        // si imagen es del tipo string entonces significa que ya esta almacenado y solo es link
                        if (typeof imagen !== "string") {
                            console.log('entra aquiiiiiiiiiiiii');
                            var file_to_upload = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15)+imagen.name;
                            const task = ref.child(file_to_upload).put(imagen);
                            task.then((snapshot) => {
                                ref.child(file_to_upload).getDownloadURL().then((link) => {
                                    links_imagenes.push(link.substring(0, link.indexOf('?')));
                                    num_imagenes++;
                                    if (num_imagenes == num_total_imagenes) {
                                        guardarProducto(links_imagenes);
                                    }
                                });  
                            });
                        } else {
                            console.log('entra aquiiiiiiiiiiiii z2222');
                            links_imagenes.push(imagen);
                            num_imagenes++;
                            console.log(num_imagenes);
                            if (num_imagenes == num_total_imagenes) {
                                guardarProducto(links_imagenes);
                            }
                        }
                    }
                });
            });
        });
        const inputElement = document.getElementById("input");
        inputElement.addEventListener("change", handleFiles, false);
        function handleFiles() {
            for (let x = 0; x < 6; x++) {
                if (imagenes[x] == undefined) {
                    imagenes[x] = this.files[0];
                    $('#Imagenes').append('<a id="'+x+'" onclick="eliminar(this, false)" class="background-btn btn btn-outline-white waves-effect waves-light" target="_blank" role="button">'+imagenes[x].name+'</a>');
                    $('#'+x).hover( e => {
                      $('#'+x).text('Eliminar Imagen');
                    }, e2 => {
                      $('#'+x).text(imagenes[x].name);
                    });
                    break;
                }
                if (x == 5) {
                    alert('Ya eligiste el maximo de imagenes, elimina una antes de intentar subir otra');
                }
            }
        }
        function setBtnBestSeller() {
            if ($('#bestseller_btn').data('seleccionado') == 'NO') {
                $('#bestseller_btn').text('SI');
                $('#bestseller_btn').data('seleccionado', 'SI');
                $('#bestseller_btn').removeClass('btn-secondary');
                $('#bestseller_btn').addClass('btn-primary');
            } else {
                $('#bestseller_btn').data('seleccionado', 'NO');
                $('#bestseller_btn').text('NO');
                $('#bestseller_btn').removeClass('btn-primary');
                $('#bestseller_btn').addClass('btn-secondary');
            }
        }
        function eliminar(imagen, inDataBase) {
            $('#Imagenes').append('<div id="loader" class="lds-facebook ml-5"><div></div><div></div><div></div></div>');
            if (inDataBase) {
                console.log('esta en la base de datos');
                ref.child(imagenes[imagen.id].split('/')[7].split('?')[0]).delete().then(function() {
                    // File deleted successfully
                    imagenes[imagen.id] = undefined;
                    console.log('se elimino');
                    $('#'+imagen.id).remove();
                    $('#loader').remove();
                }).catch(function(error) {
                    // Uh-oh, an error occurred!
                    console.log('Algo malo paso');
                    $('#loader').remove();
                });
            } else {
                imagenes[imagen.id] = undefined;
                $('#'+imagen.id).remove('hide');
                $('#loader').remove();
            }
        }

        function guardarProducto(links) {
            console.log('JAH');
            console.log(links);
            var Nombre = document.getElementById('Nombre').value;
            var images_string = '';
            links.forEach( link => {
                images_string += link+',';
            });
            var BestSeller = $('#bestseller_btn').data('seleccionado');
            var Descripcion = document.getElementById('Descripcion').value;
            var Categoria = document.getElementById('Categoria').value;
            var Estado = document.getElementById('Estado').value;
            var PrecioActual = document.getElementById('PrecioActual').value;
            var PrecioOrginal = document.getElementById('PrecioOriginal').value;
            var Cantidad = document.getElementById('Cantidad').value;
            var InformacionAdicional = document.getElementById('InfoAdicional').value;
            var data = "CantidadDisponible="+Cantidad+'&Nombre='+Nombre+'&Descripcion='+Descripcion+'&Categoria='+
                Categoria+'&Estado='+Estado+'&PrecioActual='+PrecioActual+'&PrecioOriginal='+PrecioOrginal+
                '&InformacionAdicional='+InformacionAdicional+'&Imagenes='+images_string+"&BestSeller="+BestSeller;
            $.ajax({
                url: '/ActualizarProducto/'+window.location.href.split('/')[window.location.href.split('/').length - 1 ],
                type: 'PUT',
                data: data,
                success: function(result) {
                    console.log(result);
                    // Aqui ya se termino la operacion
                    $('#loader').remove();
                    $('.modal').hide();
                    $('#titulo_toast').text('Operacion Exitosa');
                    $('#texto_toast').text('Se agrego el nuevo producto con exito');
                    $('.toast-header').css('background-color','green');
                    $('.toast').toast('show');
                    $('.toast').on('hidden.bs.toast', function () {
                        window.scroll({
                            top: 0, 
                            left: 0, 
                            behavior: 'smooth'
                        });
                        setTimeout(function() {
                            document.getElementById('Nombre').focus();
                        }, 750);
                    });
                }
            });
        }
        
        function fillForm(producto) {
            console.log(producto);
            (producto.BestSeller == true) ? $('#bestseller_btn').data('seleccionado', 'NO') : $('#bestseller_btn').data('seleccionado', 'SI');
            setBtnBestSeller();
            document.getElementById('Nombre').value = producto.Nombre;
            $('#nombre-label').addClass('active');
            document.getElementById('Descripcion').value = producto.Descripcion;
            $('#descripcion-label').addClass('active');
            document.getElementById('Categoria').value = producto.Categoria;
            document.getElementById('Estado').value = producto.Estado;
            document.getElementById('PrecioActual').value = producto.PrecioActual;
            $('#precioactual-label').addClass('active');
            document.getElementById('PrecioOriginal').value = producto.PrecioOrginal;
            $('#preciooriginal-label').addClass('active');
            document.getElementById('Cantidad').value = producto.CantidadDisponible;
            $('#cantidad-label').addClass('active');
            document.getElementById('InfoAdicional').value = producto.InformacionAdicional;
            $('#informacionadicional-label').addClass('active');
            for (let x = 0; x < producto.ImagenesProducto.split(',').length; x ++) {
                let arr = producto.ImagenesProducto.split(',')[x].split('/');
                let nombre = '';
                arr.forEach( part => {
                    if (part.includes('?alt=media')) {
                        nombre = part.substring(0, part.indexOf('?alt=media'));
                        if (nombre.length > 15)
                            nombre = nombre.substring(0, 10)+nombre.substring(nombre.length - 5, nombre.length);
                    }
                });
                $('#Imagenes').append('<a id="'+x+'" onclick="eliminar(this, true)" class="background-btn btn btn-outline-white waves-effect waves-light" target="_blank" role="button">'+nombre+'</a>');
                $('#'+x).hover( e => {
                    $('#'+x).text('Eliminar Imagen');
                }, e2 => {
                    $('#'+x).text(nombre);
                });
                imagenes[x] = producto.ImagenesProducto.split(',')[x];
            }
            console.log(imagenes);
        }
          
          
            /*var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  
              } else {
                  if (this.readyState == 4) {
                      // hubo un error
                      $('#titulo_toast').text('Ocurrio Un Error');
                      $('#titulo_toast').text('No se pudo agregar correctamente el producto, vuelve a intentarlo');
                      $('.toast-header').css('background-color','red');
                      $('.toast').toast('show');
                  }
              }
          };
          
        }*/
        </script>
  </body>
</html>
