<!DOCTYPE html>
<html class="no-js" lang="zxx">
<% include ../partials/head %>
<% include ../partials/navbar %>
<script>
    document.getElementById('carrito-id').remove();
</script>
    <body>
    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container wow fadeIn">
            <!--Este div le da el espacio cuando el contenido quiere ser ocultado-->
            <div id="spacer-div" style="min-height: 50vh;">
                <div class="row">
                    <div class="col-md-12 py-0 my-4">
                        <img src="/img/svg/pedidos.svg" alt="" class="mx-auto my-2" style="width: 100%; height: 40vh;" />
                    </div>
                    <div class="col-md-12 text-center">
                        <p style="font-size: 3rem;">No Hay Pedidos</p>
                    </div>
                </div>
            </div>
            <!--todo el contenido es escondido hasta que se busca el carrito-->
            <div id="content" hidden>
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12 mb-4">
                        <!-- Heading -->
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Todos Los Pedidos Realizados</span>
                            <span><button onclick="limpiarPedidos()" class="btn btn-primary btn-md btn-block" type="button">Limpiar Pedidos Incompletos</button></span>
                        </h4>
                        <ul id="pedidos_list" class="list-group">
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
        </div>
      </main>
      <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: tomato;color: whitesmoke;">
                        <h5 class="modal-title">Modificar Pedido</h5>
                        <button id="btn_cerrar_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="texto_modal"> Estas seguro que quieres modificar este producto? </p>
                    </div>
                    <div class="modal-footer">
                        <button id="btn_modal_si" type="button" class="btn btn-primary">Si</button>
                        <button id="btn_modal_no" type="button" class="btn btn-primary" data-dismiss="modal" style="background-color: tomato!important;">No</button>
                    </div>
                </div>
            </div>
      </div>
      <!-- Flexbox container for aligning the toasts -->
      <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
            <!-- Then put toasts within -->
            <div class="toast" role="alert" aria-live="assertive" data-delay="2500" aria-atomic="true" style="position: fixed; top: 70vh; right: 40vw;z-index: 1;">
                <div class="toast-header">
                <img src="..." class="rounded mr-2" alt="...">
                <strong id="titulo_toast" class="mr-auto" style="color:whitesmoke;font-size: 1.5rem;"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div id="texto_toast" class="toast-body"></div>
            </div>
        </div>
      <!--Main layout-->
        <% include ../partials/footer %>    
        <script>
            var operacion = {operacion: '', id: ''};
            ObtenerCarritos();
            function ObtenerCarritos() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                    
                        /*$.ajax({
                            url: '/ObtenerCarritoInfo/'+id,
                            type: 'GET',
                            success: function(data) {
                                let datos = 'Enviado a '+data.Nombre+' '+data.Apellido;
                                datos += ', en la direccion '+data.Direccion+', '+data.Direccion2+', '+data.CP+', Ensenada, B.C';
                                $('#datos_envio').text(datos);
                                if (data.Completado) {
                                    $('#estado_actual').text('COMPLETADO');
                                } else {
                                    if (data.Enviado) {
                                        $('#estado_actual').text('ENVIADO');
                                    } else {
                                        $('#estado_actual').text('PAGADO');
                                    }
                                }
                                
                                console.log(data);
                            }
                        });*/
                        data = JSON.parse(this.responseText);
                        $('#pedidos_elements').empty();
                        $('#btn_modal_no').click(e=> {$('.modal').hide();});
                        $('#btn_cerrar_modal').click(e=> {$('.modal').hide();});
                        $('#btn_modal_si').click(e=> {
                            if (operacion.operacion == 'marcar_como') {
                                $.ajax({
                                   url: '/ActualizarCarrito/'+data[operacion.id]._id,
                                   type: 'PUT',
                                   data: {
                                        state: $('#texto_modal').text().split(':')[1]
                                   },
                                   success: function(actualizado, stat) {
                                        $('#estado_pedido_'+operacion.id).text($('#texto_modal').text().split(':')[1]);
                                        if ($('#texto_modal').text().split(':')[1] == 'COMPLETADO') {
                                            $('#col-btn-marcar').remove();
                                        } else {
                                            $('#btnMarcar'+operacion.id).text('MARCAR COMO '+getNextState(getCurrentState($('#texto_modal').text().split(':')[1])));
                                        }
                                   }
                                });
                            } 
                            if (operacion.operacion == 'cancelar') {
                                $.ajax({
                                    url: '/EliminarCarrito/'+data[operacion.id]._id,
                                    type: 'DELETE',
                                    success: function(data, status) {
                                        $('#pedido_item_'+operacion.id).fadeOut(1000, function( ){
                                            $('#pedido_item_'+operacion.id).remove();
                                        });
                                        $('#collapsePedido'+operacion.id).fadeOut(1000, function () {
                                            $('#collapsePedido'+operacion.id).remove();
                                        });
                                    }
                                })
                            }
                            $('.modal').hide();
                        });
                        data.forEach( carrito => {
                            let node = '<a id="pedido_item_'+data.indexOf(carrito)+'" data-toggle="collapse" href="#collapsePedido'+data.indexOf(carrito)+'" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">'+
                                '<div class="flex-column">Cliente: '+carrito.Nombre+' '+carrito.Apellido+'<p><small>Direccion Envio: '+carrito.Direccion+', '+carrito.Direccion2+', '+carrito.CP+', Ensenada, B.C.'+'</small></p><span id="estado_pedido_'+data.indexOf(carrito)+'" class="badge badge-primary badge-pill">'+getState(carrito)+'</span></div>';                
                            let collapse_node = '<div class="collapse" id="collapsePedido'+data.indexOf(carrito)+'"><div class="card card-body">'+
                                '<ul class="list-group list-group-horizontal">';    
                            let total = 0;
                            $.ajax({
                                url: '/ObtenerTodosLosPedidos/'+carrito._id,
                                type: 'GET',
                                success: function(res, status) {
                                    res.forEach( pedido => {
                                        $.ajax({
                                            url: '/ObtenerProductoPorID/'+pedido.IdProducto,
                                            type: 'GET',
                                            success: function(producto, status) {
                                                total += (producto.PrecioActual*pedido.Cantidad);
                                                collapse_node += '<li class="list-group-item" style="color: tomato">'+pedido.Cantidad.toString()+' x '+producto.Nombre+ '     Precio(c/u) $' +pedido.PrecioUnitario+'</li>';
                                                if (res.length == res.indexOf(pedido)+1) {
                                                    if (!carrito.Completado) {
                                                        collapse_node += '</ul><div class="row my-3"><div id="col-btn-marcar" class="col-md-4"><button id="btnMarcar'+data.indexOf(carrito)+'" onclick="marcarPedido(this)" class="btn btn-success btn-md btn-block" type="button">Marcar Como '+getNextState(carrito)+'</button>'+
                                                        '</div><div class="col-md-4"><button id="btnCancelar'+data.indexOf(carrito)+'" onclick="cancelarPedido(this)" class="btn btn-danger btn-md btn-block" type="button">Cancelar Pedido</button></div></div></div></div>';
                                                    } else {
                                                        collapse_node += '</ul><div class="row my-3"><div class="col-md-4"><button id="btnCancelar'+data.indexOf(carrito)+'" onclick="cancelarPedido(this)" class="btn btn-danger btn-md btn-block" type="button">Cancelar Pedido</button></div></div></div></div>';
                                                    }
                                                    node += '<div class="flex-column">Total: '+total+'</div></div></a>';
                                                    $('#pedidos_list').append(node+collapse_node);
                                                }
                                            }
                                        })
                                    });
                                }
                            });
                        });
                        
                        /*$('#pedidos_elements').empty();
                        let total = 0;
                        data.forEach( arr => {
                            total += arr['producto'].PrecioActual;
                            console.log(arr['producto']);
                            elemento = '<li class="list-group-item d-flex justify-content-between lh-condensed">';
                            elemento += '<div><h6 class="my-0">'+arr['producto'].Nombre+'</h6><small class="text-muted">';
                            elemento += arr['producto'].Descripcion+'</small></div><span class="text-muted">$'+arr['producto'].PrecioActual+'</span></li>';
                            $('#pedidos_elements').append($(elemento));
                        });
                        console.log(total);
                        $('#total_precio').text('$'+total);
                        $('#cantidad_productos_pedidos').text(data.length);*/
                        $('#spacer-div').attr('hidden', 'true');
                        $('#content').removeAttr('hidden');
                        $('#titulo_toast').text('Pedido');
                        $('#texto_toast').text('Se encontro el pedido con exito');
                        $('.toast-header').css('background-color','green');
                        $('.toast').toast('show');
                    } else {
                        if (this.readyState == 4 && this.status == 404) {
                            $('#spacer-div').removeAttr('hidden');
                            $('#content').attr('hidden', 'true');
                            $('#titulo_toast').text('Pedido');
                            $('#texto_toast').text('No se encontro un carrito para ese codigo');
                            $('.toast-header').css('background-color','tomato');
                            $('.toast').toast('show');
                        }
                    }
                };
                xhttp.open("GET", '/ObtenerCarritos', true);
                xhttp.send();
            }
            function getState(state) {
                if (state.Completado) {
                    return 'COMPLETADO';
                } else {
                    if (state.Enviado) {
                        return 'ENVIADO';
                    } else {
                        return 'PAGADO';
                    }
                }
            }
            function getNextState(state) {
                if (state.Pagado && !state.Enviado)
                    return 'ENVIADO';
                if (state.Enviado && !state.Completado)
                    return 'COMPLETADO';
            }
            function cancelarPedido(event) {
                console.log(event.id);
                $('#texto_modal').text('Seguro que quieres cancelar este pedido? Se debera realizar una devolucion del pago');
                operacion.operacion = 'cancelar';
                operacion.id = event.id.split('btnCancelar')[1];
                $('.modal').show();
            }

            function getCurrentState(estado) {
                let state = {Pagado: false, Enviado: false, Completado: false};
                switch (estado) {
                    case 'PAGADO': state.Pagado = true;break;
                    case 'ENVIADO': state.Enviado = true;break;
                    case 'COMPLETADO': state.Completado = true;break;
                }
                return state;
            }
            function marcarPedido(event) {
                operacion.id = event.id.split('btnMarcar')[1];
                $('#texto_modal').text('Seguro que quieres marcarlo como:'+getNextState(getCurrentState($('#estado_pedido_'+operacion.id).text())));
                operacion.operacion = 'marcar_como';
                $('.modal').show();
            }
            function limpiarPedidos() {
                console.log('ker');
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        $('#titulo_toast').text('Limpieza Finalizada');
                        $('#texto_toast').text('Se han eliminado todos los pedidos sin pagar');
                        $('.toast-header').css('background-color','tomato');
                        $('.toast').toast('show');
                    }
                };
                xhttp.open('GET', '/Admin/LimpiarPedidos', true);
                xhttp.send();
            }
        </script>    
    </body>
</html>