/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

.btn_modal_response {
  background-color: whitesmoke!important;
  color: black;
}

.btn_modal_response:hover {
  color: rebeccapurple!important;
}

.content_modal_success {
  background-color: green;
  color: whitesmoke;
}

.content_modal_failed {
  background-color: tomato;
  color: whitesmoke;
}

.view {
  position: relative;
}

.product-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 55%;
}

.view span {
  position: absolute;
  right: 60%;
  top: 0%;
}

.card-body .product-body {
  max-height: 12vh;
}

.view:hover {
  animation-name: scale-img-anim;
  animation-duration: 0.25s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes scale-img-anim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }


.btn-color-indigo {
  background-color: #3F51B5!important;
}

.btn-color-red {
  background-color: #F44336!important;
}

.btn-color-green {
  background-color: #4CAF50!important;
  color: whitesmoke;
}