<!DOCTYPE html>
<html class="no-js" lang="zxx">
<% include ../partials/head %>
<% include ../partials/navbar %>
<script>
    document.getElementById('carrito-id').remove();
</script>

<body>
    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container wow fadeIn">
            <!--Este div le da el espacio cuando el contenido quiere ser ocultado-->
            <div id="spacer-div" style="min-height: 50vh;">
                <div class="row">
                    <div class="col-md-12 py-0 my-4">
                        <img src="/img/svg/pedidos.svg" alt="" class="mx-auto my-2"
                            style="width: 100%; height: 40vh;" />
                    </div>
                    <div class="col-md-12 text-center">
                        <p style="font-size: 3rem;">No Hay Pedidos</p>
                    </div>
                </div>
            </div>
            <!--todo el contenido es escondido hasta que se busca el carrito-->
            <div id="content" hidden>
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12 mb-4">
                        <!-- Heading -->
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Todos Los Pedidos Realizados</span>
                            <span><button onclick="cleanOrders()" class="btn btn-primary btn-md btn-block"
                                    type="button">Limpiar Pedidos Incompletos</button></span>
                        </h4>
                        <ul id="pedidos_list" class="list-group">
                        </ul>
                        <!-- Pagination-->
                        <nav id="pagination" style="display: none;">
                            <ul class="pagination" id="pagination-list">
                                <li class="page-item" id="backPagination">
                                    <a class="page-link" href="#" aria-label="Anterior">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <ul class="pagination" id="pagination-links">
                                </ul>
                                <li class="page-item" id="nextPagination">
                                    <a class="page-link" href="#" aria-label="Siguiente">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- PAgination-->
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
        </div>
    </main>


    <!--Main layout-->
    <% include ../partials/modal %>
    <% include ../partials/footer %>
    <script>initAdminOrdersModule();</script>
</body>

</html>