<!DOCTYPE html>
<html class="no-js" lang="zxx">
<% include ../partials/head %>
<style>
    .paint-in {
        animation-name: paint-in-anim;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    @keyframes paint-in-anim {
        0% {
            background-color: white;
            color: black;
        }

        100% {
            background-color: #a6c;
            color: whitesmoke;
        }
    }

    .paint-out {
        animation-name: paint-out-anim;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    @keyframes paint-in-anim {
        100% {
            background-color: #a6c;
            color: whitesmoke;
        }

        0% {
            background-color: white;
            color: black;
        }
    }

    .fade-out {
        animation-name: desaparecer-anim;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    @keyframes desaparecer-anim {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .fade-in {
        animation-name: aparecer-anim;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    @keyframes aparecer-anim {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>
<% include ../partials/navbar %>
<script>
    document.getElementById('carrito-id').remove();
</script>

<body>
    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container wow fadeIn " style="min-height: 80vh;">
            <!--Este div le da el espacio cuando el contenido quiere ser ocultado-->
            <div id="spacer-div" style="min-height: 60vh;" hidden>
                <div class="row">
                    <div class="col-md-12 py-0 text-center">
                        <img src="/img/no_order.png" alt="" class="mx-auto my-2" style="width: 25vw; height: 100%;" />
                    </div>
                    <div class="col-md-12 text-center">
                        <p style="font-size: 3rem;">Carrito Vacio</p>
                    </div>
                </div>
            </div>
            <!--todo el contenido es escondido hasta que se busca el carrito-->
            <div id="content" hidden>
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12 mb-4">

                        <!-- Heading -->
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Tu Carrito</span>
                            <span id="cantidad_products_pedidos" class="badge badge-secondary badge-pill">3</span>
                        </h4>

                        <!-- Cart -->
                        <ul id="carrito" class="list-group mb-3 z-depth-1">
                            <div id="pedidos_elements"></div>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Total (MX)</span>
                                <strong id="total_precio"></strong>
                            </li>
                        </ul>
                        <!-- Cart -->

                        <!-- Promo code -->
                        <div class="offset-md-8 col-md-4">
                            <button class="btn btn-secondary btn-md waves-effect m-0 w-100"
                                onclick="parent.location='/Pago'" type="button">Proceder A Pagar</button>
                        </div>
                        <!-- Promo code -->

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
            </div>
        </div>
    </main>

    <!--Main layout-->
    <% include ../partials/modal %>
    <% include ../partials/footer %>
    <script>initCartModule();</script>
</body>

</html>