<!DOCTYPE html>
<html class="no-js" lang="zxx">
<% include ../partials/head %>
<style>
    .PrecioOriginal {
        -webkit-text-decoration-line: line-through; /* Safari */
        text-decoration-line: line-through; 
    }
    img {
      max-width: 100%;
      max-height: 30vh;
      height: 100vh;
    }
</style>
<% include ../partials/navbar %>
<script>
    document.getElementById('carrito-id').remove();
</script>
    <body>
        <div class="container px-0" style="margin-top: 4.5rem;">
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5" style="background-color: #4CAF50!important;">

                <span><button onclick="parent.location='/AgregarProducto'" type="button" class="btn btn-secondary" style="background-color: #4CAF50!important;">Agregar Producto</button></span>
                <span><button onclick="parent.location='/Admin/MostrarPedidos'" type="button" class="btn btn-secondary" style="background-color: #4CAF50!important;">Mostrar Pedidos</button></span>
                <!-- Navbar brand -->
                <span class="navbar-brand">Categorias:</span>
    
                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
    
                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">
    
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li id="btn_opcion_1" class="nav-item active">
                    <a class="nav-link" onclick="getAllProducts()">Todos</a>
                    </li>
                    <li id="btn_opcion_2" class="nav-item">
                        <a class="nav-link" onclick="getProductsByCategory('Ropa')">Ropa</a>
                    </li>
                    <li id="btn_opcion_3" class="nav-item">
                        <a class="nav-link"  onclick="getProductsByCategory('Calzado')">Calzado</a>
                    </li>
                    <li id="btn_opcion_4" class="nav-item">
                        <a class="nav-link"  onclick="getProductsByCategory('Electronicos')">Electronicos</a>
                    </li>
                    <li id="btn_opcion_5" class="nav-item">
                        <a class="nav-link"  onclick="getProductsByCategory('Electrodomesticos')">Electrodomesticos</a>
                    </li>
                    <li id="btn_opcion_6" class="nav-item">
                        <a class="nav-link"  onclick="getProductsByCategory('Varios')">Varios</a>
                    </li>
                </ul>
    
                <form class="form-inline">
                    <div class="md-form my-0">
                        <input id="busqueda_input" onkeyup="searchProduct()" class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Buscar">
                    </div>
                </form>
                </div>
                <!-- Collapsible content -->
    
            </nav>
            <!--/.Navbar-->
            <!--Section: Products v.3-->
            <section class="text-center mb-4 mx-4">
                <!--Grid row-->
                <div id="section_products" class="row wow fadeIn">
                    <!--Aqui van los products-->
                </div>
                <!--Grid row-->
            </section>
            <!--Section: Products v.3-->
        </div>
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: tomato;color: whitesmoke;">
                        <h5 class="modal-title">Eliminar Product</h5>
                        <button id="btn_cerrar_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="texto_modal"> Estas seguro que quieres eliminar este product? </p>
                    </div>
                    <div class="modal-footer">
                        <button id="btn_modal_si" type="button" class="btn btn-primary" style="background-color: tomato!important;">Si</button>
                        <button id="btn_modal_no" type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Flexbox container for aligning the toasts -->
        <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
            <!-- Then put toasts within -->
            <div class="toast" role="alert" aria-live="assertive" data-delay="1000" aria-atomic="true" style="position: fixed; top: 60vh; right: 40vw;z-index: 1;">
                <div class="toast-header" style="max-height:10vh;">
                <!--<img src="..." class="rounded mr-2" alt="...">-->
                <strong id="titulo_toast" class="mr-auto" style="color:whitesmoke;font-size: 1.5rem;"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div id="texto_toast" class="toast-body"></div>
            </div>
        </div>
        <% include ../partials/footer %>
        <script>
            const ref = firebase.storage().ref();
            $(document).ready(function() {
                getAllProducts();
                // toast
                $('#titulo_toast').text('Operacion Exitosa');
                $('#texto_toast').text('Se elimino el nuevo product con exito');
                $('.toast-header').css('background-color','green');
                $('#btn_cerrar_modal').click( e => { $('.modal').hide(); });
                $('#btn_modal_si').click( e => {
                    // hacer algo
                    $.ajax({
                        url: '/Products/id/'+$('#btn_modal_si').data('id_product'),
                        type: 'GET',
                        success: function(product) {
                            console.log(product);
                            let deleted_images = 0;
                            product.images.forEach( image => {
                                ref.child(image.split('/')[7].split('?')[0]).delete().then(function() {
                                    // File deleted successfully
                                    deleted_images++;
                                    if (deleted_images === product.images.length) {
                                        deleteProduct();
                                    }
                                }).catch(function(error) {
                                    // Uh-oh, an error occurred!
                                    if (error['code'] === 'storage/object-not-found') {
                                        deleteProduct();
                                    } else {
                                        console.error(error);
                                    }
                                });
                            });
                        }
                    });
                });
                $('#btn_modal_no').click( e => { $('.modal').hide(); });
            });

            function getAllProducts() {
                setSelectedOption('');
                $.ajax({
                    url: '/Products/GetAll',
                    type: 'GET',
                    success: function(data, status) {
                        if (status !== 'nocontent') {
                            loadProducts(data);
                        } else {
                            $('#titulo_toast').text('No Hay Products');
                            $('#texto_toast').text('No se encontraron en el sistema');
                            $('.toast-header').css('background-color','tomato');
                            $('.toast').toast('show');
                        }
                    }
                }).fail(function( jqXHR, textStatus, errorThrown ) {
                    if (jqXHR.status === 0 || jqXHR.status == 500) {
                        $('#titulo_toast').text('Error De Conexion');
                        $('#texto_toast').text('Hubo un problema con la conexion con el servidor. ');
                        $('.toast-header').css('background-color','tomato');
                        $('.toast').toast('show');
                    }
                });
            }

            function getProductsByCategory(category) {
                $.ajax({
                    url: '/Products/Category/'+category,
                    type: 'GET',
                    success: function(data, status) {
                        if (status !== 'nocontent') {
                            setSelectedOption(category);
                            setProducts(data);
                        } else {
                            $('#titulo_toast').text('No Hay Products');
                            $('#texto_toast').text('No se encontraron en '+category);
                            $('.toast-header').css('background-color','tomato');
                            $('.toast').toast('show');
                        }
                    }
                }).fail(function( jqXHR, textStatus, errorThrown ) {
                    if (jqXHR.status === 0 || jqXHR.status == 500) {
                        $('#titulo_toast').text('Error De Conexion');
                        $('#texto_toast').text('Hubo un problema con la conexion con el servidor. ');
                        $('.toast-header').css('background-color','tomato');
                        $('.toast').toast('show');
                    }
                });
            }

            function setSelectedOption(category) {
                for (let x = 0; x < 6; x++) {
                    if ($('#btn_opcion_'+(x+1)).hasClass('active')) {
                        $('#btn_opcion_'+(x+1)).removeClass('active');
                    }
                }
                switch (category) {
                    case '':  $('#btn_opcion_1').addClass('active');break;
                    case 'Ropa':  $('#btn_opcion_2').addClass('active');break;
                    case 'Calzado':  $('#btn_opcion_3').addClass('active');break;
                    case 'Electronicos':  $('#btn_opcion_4').addClass('active');break;
                    case 'Electrodomesticos':  $('#btn_opcion_5').addClass('active');break;
                    case 'Varios':  $('#btn_opcion_6').addClass('active');break;
                }
            }

            function searchProduct(event) {
                if ($('#search_input').val() == '') {
                    getAllProducts();
                } else {
                    $.ajax({
                        url: '/Products/Search/'+$('#search_input').val(),
                        type: 'GET',
                        success: function (data, status) {
                            setProducts(data);
                        }
                    }).fail(function( jqXHR, textStatus, errorThrown ) {
                        if (jqXHR.status === 0 || jqXHR.status == 500) {
                            $('#titulo_toast').text('Error De Conexion');
                            $('#texto_toast').text('Hubo un problema con la conexion con el servidor. ');
                            $('.toast-header').css('background-color','tomato');
                            $('.toast').toast('show');
                        }
                    });
                }
            }

            function loadProducts(products) {
                $('#section_products').empty();
                products.forEach( product => {
                    let node = '<div id="prod_'+product._id+'" class="col-lg-3 col-md-3 mb-4"><div class="card"><div class="view overlay"><img id="img-'+product._id+'" src="'+product.images[0]+'" class="card-img-top" alt=""><a href="/Producto/id/'+product._id+'">';
                    node += '<div class="mask rgba-white-slight"></div></a></div><div class="card-body text-center"><a class="grey-text"><h5>'+product.category+'</h5></a><h5><strong><a href="/Producto/id/'+product._id+'" class="dark-grey-text">';
                    node += product.name+'<span class="mx-2 badge badge-pill danger-color">'+product.state+'</span></a></strong></h5><div class="row"><div class="col-md-6"><button id="btnEditar" onclick="parent.location=\'/ModificarProducto/id/'+product._id+'\'" class="btn btn-primary btn-md btn-block mx-auto px-0"';
                    node += 'type="button">Editar</button></div><div class="col-md-6"><button onclick="showDeleteModal(\''+product._id+'\')" class="btn btn-primary btn-md btn-block mx-auto px-0" style="background-color: tomato!important;" type="button">';
                    node += 'Eliminar</button></div></div></div></div></div>';
                    $('#section_products').append(node);
                });
            }

            function showDeleteModal(id) {
                $('.modal').show();
                $('#btn_modal_si').data('id_product', id);
            }
            
            function deleteProduct() {
                $.ajax({
                    url: '/Products/Delete/'+$('#btn_modal_si').data('id_product'),
                    type: 'DELETE',
                    success: function(data, status) {
                        if (status !== 'nocontent') {
                            $('#titulo_toast').text('Product Eliminado');
                            $('#texto_toast').text('Se elimno el product satisfactoriamente');
                            $('.toast-header').css('background-color','tomato');
                            $('#prod_'+$('#btn_modal_si').data('id_product')).remove();
                        } else {
                            $('#titulo_toast').text('No Se Pudo Eliminar');
                            $('#texto_toast').text('Tiene pedidos realizados con este product');
                            $('.toast-header').css('background-color','tomato');
                        }
                        // Do something with the result
                        $('.toast').toast('show');
                        $('.modal').hide();
                    }
                });
            }

        </script>
    </body>
</html>