<!DOCTYPE html>
<html class="no-js" lang="zxx">
<% include ../partials/head %>
<style>
    .PrecioOriginal {
        -webkit-text-decoration-line: line-through; /* Safari */
        text-decoration-line: line-through; 
    }
    img {
      max-width: 100%;
      max-height: 30vh;
      height: 100vh;
    }
</style>
<% include ../partials/navbar %>
<script>
    document.getElementById('carrito-id').remove();
</script>
    <body>
        <div class="container px-0"style="min-height: 80vh;margin-top: 4.5rem;">
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5" style="background-color: #4CAF50!important;">

                <span><button onclick="parent.location='/AgregarProducto'" type="button" class="btn btn-secondary" style="background-color: #4CAF50!important;">Agregar Producto</button></span>
                <!-- Navbar brand -->
                <span class="navbar-brand">Categorias:</span>
    
                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
    
                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">
    
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li id="btn_opcion_1" class="nav-item active">
                    <a class="nav-link" onclick="getAllProducts()">Todos</a>
                    </li>
                    <li id="btn_opcion_2" class="nav-item">
                        <a class="nav-link" onclick="getProductsByCategory('Ropa')">Ropa</a>
                    </li>
                    <li id="btn_opcion_3" class="nav-item">
                        <a class="nav-link"  onclick="getProductsByCategory('Calzado')">Calzado</a>
                    </li>
                    <li id="btn_opcion_4" class="nav-item">
                        <a class="nav-link"  onclick="getProductsByCategory('Electronicos')">Electronicos</a>
                    </li>
                    <li id="btn_opcion_5" class="nav-item">
                        <a class="nav-link"  onclick="getProductsByCategory('Electrodomesticos')">Electrodomesticos</a>
                    </li>
                    <li id="btn_opcion_6" class="nav-item">
                        <a class="nav-link"  onclick="getProductsByCategory('Varios')">Varios</a>
                    </li>
                </ul>
    
                <form class="form-inline">
                    <div class="md-form my-0">
                        <input id="search_input" onkeyup="searchProduct()" class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Buscar">
                    </div>
                </form>
                </div>
                <!-- Collapsible content -->
    
            </nav>
            <!--/.Navbar-->
            <!--Section: Products v.3-->
            <section class="text-center mb-4 mx-4">
                <!--Grid row-->
                <div id="products" class="row wow fadeIn">
                    <!--Aqui van los products-->
                </div>
                <!--Grid row-->
            </section>
            <!--Section: Products v.3-->
        </div>
        <% include ../partials/modal %>
        <% include ../partials/footer %>
        <script>initCatalogModule('Admin');</script>
    </body>
</html>