<!DOCTYPE html>
<html class="no-js" lang="zxx">
<% include ../partials/head %>
<style>
    .PrecioOriginal {
        -webkit-text-decoration-line: line-through;
        /* Safari */
        text-decoration-line: line-through;
    }

    img {
        max-width: 100%;
        max-height: 30vh;
        height: 100vh;
    }
</style>
<% include ../partials/navbar %>

<body>
    <div class="container" style="margin-top: 4.5rem;">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5"
            style="background-color: #4CAF50!important;">

            <!-- Navbar brand -->
            <span class="navbar-brand">Categorias:</span>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li id="btn_opcion_1" class="nav-item active">
                        <a class="nav-link" onclick="getAllProducts()">Todos</a>
                    </li>
                    <li id="btn_opcion_2" class="nav-item">
                        <a class="nav-link" onclick="getProductsByCategory('Ropa')">Ropa</a>
                    </li>
                    <li id="btn_opcion_3" class="nav-item">
                        <a class="nav-link" onclick="getProductsByCategory('Calzado')">Calzado</a>
                    </li>
                    <li id="btn_opcion_4" class="nav-item">
                        <a class="nav-link" onclick="getProductsByCategory('Electronicos')">Electronicos</a>
                    </li>
                    <li id="btn_opcion_5" class="nav-item">
                        <a class="nav-link" onclick="getProductsByCategory('Electrodomesticos')">Electrodomesticos</a>
                    </li>
                    <li id="btn_opcion_6" class="nav-item">
                        <a class="nav-link" onclick="getProductsByCategory('Varios')">Varios</a>
                    </li>
                </ul>
                <!-- Links -->

                <form class="form-inline">
                    <div class="md-form my-0">
                        <input id="search_input" onkeyup="searchProduct()" class="form-control mr-sm-2" type="text"
                            placeholder="Buscar" aria-label="Buscar">
                    </div>
                </form>
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
        <!--Section: Products v.3-->
        <section id="products" class="text-center mb-4 mx-4"></section>
        <!--Section: Products v.3-->
        <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center"
            style="min-height: 200px;">
            <!-- Then put toasts within -->
            <div class="toast" role="alert" aria-live="assertive" data-delay="1000" aria-atomic="true"
                style="position: fixed; top: 60vh; right: 40vw;z-index: 1;">
                <div class="toast-header" style="max-height:10vh;">
                    <!--<img src="..." class="rounded mr-2" alt="...">-->
                    <strong id="titulo_toast" class="mr-auto" style="color:whitesmoke;font-size: 1.5rem;"></strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="texto_toast" class="toast-body"></div>
            </div>
        </div>
    </div>
    <!-- Flexbox container for aligning the toasts -->
    <% include ../partials/footer %>
    <script>
        $(document).ready(function () {
            getAllProducts();
        });

        function getAllProducts() {
            setSelectedOption('');
            $.ajax({
                url: '/Products/GetAll',
                type: 'GET',
                success: function (data, status) {
                    if (status !== 'nocontent') {
                        setProducts(data.response);
                    } else {
                        $('#titulo_toast').text('No Hay Productos');
                        $('#texto_toast').text('No se encontraron en el sistema');
                        $('.toast-header').css('background-color', 'tomato');
                        $('.toast').toast('show');
                    }
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.status === 0 || jqXHR.status == 500) {
                    $('#titulo_toast').text('Error De Conexion');
                    $('#texto_toast').text('Hubo un problema con la conexion con el servidor. ');
                    $('.toast-header').css('background-color', 'tomato');
                    $('.toast').toast('show');
                }
            });
        }

        function getProductsByCategory(category) {
            $.ajax({
                url: '/Products/Category/' + category,
                type: 'GET',
                success: function (data, status) {
                    console.log(data);
                    if (status !== 'nocontent') {
                        setSelectedOption(category);
                        setProducts(data.response);
                    } else {
                        $('#titulo_toast').text('No Hay Productos');
                        $('#texto_toast').text('No se encontraron en ' + category);
                        $('.toast-header').css('background-color', 'tomato');
                        $('.toast').toast('show');
                    }
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.status === 0 || jqXHR.status == 500) {
                    $('#titulo_toast').text('Error De Conexion');
                    $('#texto_toast').text('Hubo un problema con la conexion con el servidor. ');
                    $('.toast-header').css('background-color', 'tomato');
                    $('.toast').toast('show');
                }
            });
        }

        function setSelectedOption(category) {
            for (let x = 0; x < 6; x++) {
                if ($('#btn_opcion_' + (x + 1)).hasClass('active')) {
                    $('#btn_opcion_' + (x + 1)).removeClass('active');
                }
            }
            switch (category) {
                case '': $('#btn_opcion_1').addClass('active'); break;
                case 'Ropa': $('#btn_opcion_2').addClass('active'); break;
                case 'Calzado': $('#btn_opcion_3').addClass('active'); break;
                case 'Electronicos': $('#btn_opcion_4').addClass('active'); break;
                case 'Electrodomesticos': $('#btn_opcion_5').addClass('active'); break;
                case 'Varios': $('#btn_opcion_6').addClass('active'); break;
            }
        }

        function searchProduct(event) {
            if ($('#search_input').val() == '') {
                getAllProducts();
                console.log('ENTRO AQUI');
            } else {
                $.ajax({
                    url: '/Products/Search/' + $('#search_input').val(),
                    type: 'GET',
                    success: function (data, status) {
                        setProducts(data.response);
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status === 0 || jqXHR.status == 500) {
                        $('#titulo_toast').text('Error De Conexion');
                        $('#texto_toast').text('Hubo un problema con la conexion con el servidor. ');
                        $('.toast-header').css('background-color', 'tomato');
                        $('.toast').toast('show');
                    }
                });
            }
        }

        function setProducts(data) {
            try {
                $('#products').empty();
                let elements = '<div class="row wow fadeIn">';
                for (let x = 0; x < data.length; x++) {
                    if (x > 0 && x % 4 == 0) {
                        elements += '</div>';
                        elements += '<div class="row wow fadeIn">';
                    }
                    elements += '<div class="col-lg-3 col-md-3 mb-4"><div class="card"><div class="view overlay"><img src="' + data[x].images[0] + '" class="card-img-top" alt="">';
                    elements += '<a href="/Producto/id/' + data[x]._id + '"><div class="mask rgba-white-slight"></div></a></div><div class="card-body text-center">';
                    elements += '<a class="grey-text"><h5>' + data[x].category + '</h5></a><h5><strong><a href="/Producto/id/' + data[x]._id + '" class="dark-grey-text">' + data[x].name + '<span class="badge badge-pill danger-color">' + data[x].state + '</span>';
                    elements += '</a></strong></h5><h4 class="font-weight-bold red-text PrecioOriginal"><strong>' + data[x].originalPrice + '$</strong></h4><h4 class="font-weight-bold blue-text">';
                    elements += '<strong>' + data[x].currentPrice + '$</strong></h4></div></div></div>';
                }
                elements += '</div>';
                $('#products').append(elements);
            } catch (e) { }
        }
    </script>
</body>

</html>