<!DOCTYPE html>
<html class="no-js" lang="zxx">
<% include ../partials/head %>
<style>
    .background-btn {
        background-color: #48AB3B !important;
        color: whitesmoke;
    }

    .background-btn:hover {
        background-color: tomato !important;
        color: whitesmoke;
    }

    .lds-facebook {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
    }

    .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 6px;
        width: 13px;
        background: #43A047;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

    .lds-facebook div:nth-child(1) {
        left: 6px;
        animation-delay: -0.24s;
    }

    .lds-facebook div:nth-child(2) {
        left: 26px;
        animation-delay: -0.12s;
    }

    .lds-facebook div:nth-child(3) {
        left: 45px;
        animation-delay: 0;
    }

    @keyframes lds-facebook {
        0% {
            top: 6px;
            height: 51px;
        }

        50%,
        100% {
            top: 19px;
            height: 26px;
        }
    }
</style>
<% include ../partials/navbar %>
<script>
    document.getElementById('carrito-id').remove();
</script>
<body>
    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container wow fadeIn">
            <!-- Heading -->
            <h2 class="my-5 h2 text-center">Modificar Producto</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <form class="card-body">

                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-6 mb-2">

                                    <!--Nombre-->
                                    <div class="md-form ">
                                        <input type="text" id="name" class="form-control">
                                        <label id="name-label" for="name" class="">Nombre</label>
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-6 mb-2">

                                    <!--Descripcion-->
                                    <div class="md-form">
                                        <input type="text" id="description" class="form-control">
                                        <label id="description-label" for="description" class="">Descripcion</label>
                                    </div>

                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                            <div class="row">
                                <!--Grid column-->
                                <div class="col-lg-6 col-md-6 mb-4">

                                    <label for="category">Categoria</label>
                                    <select class="custom-select d-block w-100" id="category" required>
                                        <option value="">Elige...</option>
                                        <option>Electronicos</option>
                                        <option>Ropa</option>
                                        <option>Electrodomesticos</option>
                                        <option>Calzado</option>
                                        <option>Varios</option>
                                    </select>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-6 col-md-6 mb-4">

                                    <label for="state">Estado</label>
                                    <select class="custom-select d-block w-100" id="state" required>
                                        <option value="">Elige...</option>
                                        <option>Nuevo</option>
                                        <option>SemiNuevo</option>
                                        <option>Usado</option>
                                    </select>
                                </div>
                                <!--Grid column-->
                            </div>

                            <div class="row">
                                <!--Grid column-->
                                <div class="col-md-5 mb-2">
                                    <!--PrecioOriginal-->
                                    <div class="md-form mb-5">
                                        <input type="number" id="originalPrice" class="form-control"
                                            placeholder="1250.00">
                                        <label id="originalPrice-label" for="originalPrice" class="">Precio
                                            Original</label>
                                    </div>
                                </div>

                                <!--Grid column-->
                                <div class="col-md-5 mb-2">
                                    <!--PrecioActual-->
                                    <div class="md-form mb-5">
                                        <input type="number" id="currentPrice" class="form-control"
                                            placeholder="1250.00" required>
                                        <label id="currentPrice-label" for="currentPrice" class="">Precio Actual</label>
                                    </div>
                                </div>

                                <!--Grid column-->
                                <div class="col-md-2 mb-2">
                                    <!--Cantidad-->
                                    <div class="md-form mb-5">
                                        <input type="number" id="availableStock" class="form-control" placeholder="1250"
                                            required>
                                        <label id="availableStock-label" for="availableStock" class="">Cantidad</label>
                                    </div>
                                </div>
                            </div>
                            <!--InformacionAdicional-->
                            <div class="md-form mb-5">
                                <input type="text" id="aditionalInfo" class="form-control"
                                    placeholder="Que mas quieres mencionar del producto?">
                                <label id="aditionalInfo-label" for="aditionalInfo" class="">Informacion
                                    Adicional</label>
                            </div>
                            <input class="my-2" type="file" id="input" accept="image/*">
                            <div id="images" class="row"></div>
                            <hr class="mb-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>El producto es un Best Seller?</p>
                                    <button id="bestseller_btn" class="btn btn-secondary btn-md waves-effect m-0"
                                        type="button">No</button>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <button class="btn btn-primary btn-lg btn-block" type="button" id="btnAction">Modificar
                                Producto</button>
                        </form>
                    </div>
                    <!--/.Card-->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <input type="hidden" id="product-holder" value="<%= product %>">
        <% include ../partials/modal %>
    </main>
    <!--Main layout-->
    <% include ../partials/footer %>
    <script>initProductModule();</script>
</body>

</html>